*{
    color: antiquewhite;
    margin: auto;
    
    /* background-color: blue;          */
    /* padding: auto; */
}
body{
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    /* background-position: 40rem; */
     transition: all 1s;
    background-size:cover;
    /* backdrop-filter: hue-rotate(300deg); */
}


h1{
    text-align: center;
    font-size: 2rem;
    /* margin: 5rem; */
}
#fieldset{
        width: 16rem;
         /* ma */
        height: 23rem;
        margin-top: 5rem;
        /* display: flex; */
        /* flex-direction: column; */
        /* border: 2px solid ; */
}
#cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hide{
    background-color: black;
    display: none;
    border: 1px solid white;
    cursor: pointer;
}
#passwordlabel{
       position: relative;
       top: 1rem;
}
#emaillabel{
    position: relative;
    top: 1rem;
}
#passwordlabel:hover{
    position: static;
    top: 1rem;
}
#emaillabel:hover~#email{
    display: inline;
}
#emaillabel:hover{
    position:static
}
#passwordlabel:hover~#password{
    display: inline;
}
#login{
    width: 100%;
    height: 2rem;
    /* margin: 5rem; */
    font-size: large;
    border: 0.009rem solid white;
    border-radius: 6px;
    background-color: black;
    color: white;
}